<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  -->
  <!-- Place favicon.ico in the root directory -->

  <!-- css -->
  <link rel="stylesheet" href="{{ site.url }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/main.css">

  <!-- js -->
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
<nav id="main-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
        <span class="icon-bar" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="{{site.url}}">mfairchild365</a>
    </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.url }}/posts">Posts</a></li>
          <li><a href="{{ site.url }}/talks">Talks</a></li>
          <li><a href="{{ site.url }}/about-me">About Me</a></li>
        </ul>
      </div>
    </div>
</nav>

<main id="content" class="container" tabindex="-1">

  <div class="content">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}
  </div>
  <hr>
  <footer>
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
    </p>
  </footer>

</main>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/html5-boilerplate/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/html5-boilerplate/js/plugins.js"></script>
<script src="{{ site.url }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90478203-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
